$primary-text-color: #ffffff;
$title-text-color: #dc56c5;
$accent-color: #939393;
$modal-text-color: #0e0e0e;
$svg-color: #212121;
$accent-modal-color: #4c00fe;
$red-color: #ff0000;
$search-bg-color: rgba(255, 255, 255, 0.2);
$modal-bg-color: #fff2fd;
$country-text-color: #cccccc;
$color-switcher-grey: #333;
$color-switcher-white: #d3d3d4;

$font-family: 'Montserrat', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-size-50: 50px;
$font-size-30: 30px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
