body.light-theme {
  height: 100%;
  color: $modal-text-color;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $modal-bg-color;
  background-image: url(../images/background-body/mobile/light-bg-body-mobile.svg);

  @media screen and (min-width: 768px) {
    background-image: url(../images/background-body/tablet/light-bg-body-tablet.svg);
    background-size: contain;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/background-body/desktop/light-bg-body-desktop.svg);
    background-size: cover;
  }

  @media screen and (min-width: 1500px) {
    background-size: contain;
  }
}
body.dark-theme {
  height: 100%;
  color: $primary-text-color;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $modal-text-color;
  background-image: url(../images/background-body/noise-body.svg),
    url(../images/background-body/mobile/bg-body-mobile.svg);

  @media screen and (min-width: 768px) {
    background-image: url(../images/background-body/noise-body.svg),
      url(../images/background-body/tablet/bg-body-tablet.svg);
    background-size: contain;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/background-body/noise-body.svg),
      url(../images/background-body/desktop/bg-body-desktop.svg);
    background-size: cover;
  }

  @media screen and (min-width: 1500px) {
    background-size: contain;
  }
  background-color: $primary-text-color;
  color: $modal-text-color;
}

body.dark-theme {
  background-color: $modal-text-color;
  color: $primary-text-color;
}

.tui-pagination.dark-theme * {
  color: $primary-text-color;
}

.tui-pagination.light-theme * {
  color: $svg-color;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
}

.theme-switch__icon {
  color: currentColor;
  height: 24px;
  width: 24px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 32px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: $modal-text-color;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: $title-text-color;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms var(--timing-function);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: $primary-text-color;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(35px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px $title-text-color;
}
